.App {
  text-align: center;
}

html,
body {
  background: linear-gradient(#ce3636, transparent),
    linear-gradient(-45deg, #2987f3, transparent),
    linear-gradient(45deg, #e27b7b, transparent);
  background-blend-mode: multiply;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* HOMEPAGE ------------------------ */

.linkText {
  font-size: 40px;
}

.hpButton {
  display: block;
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  border-radius: 10px;
  width: 300px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 25px;
}

.hpButton:hover {
  box-shadow: 3px 1px 30px rgba(255, 255, 255, 0.2);
  transform: scale(1.03);
}

.buttonList {
  margin: auto;
  width: 300px;
}

.singleLink {
  text-decoration: none;
}

/* AGENT PAGE ------------------------ */

.agentList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 70vh;
}

.agentCards {
  margin: auto;
  max-height: 210px;
  min-width: 150px;
  padding: 5px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.1);
  overflow: auto;
  border: 1px solid rgb(187, 187, 187);
  box-shadow: 3px 2px 20px rgba(78, 10, 109, 0.1);
  transition: all 0.3s ease-in-out;
}

.agentCards:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.agentName {
  font-family: "Unica One", cursive;
  font-size: 30px;
  color: white;
}

.agentImage {
  max-width: 100px;
  max-height: 100px;
}

h1 {
  font-family: "Unica One", cursive;
  color: white;
  font-size: 50px;
  font-weight: 100;
}

/* AGENT INFO PAGE ------------------------ */

.agentInfo {
  margin: auto;
  margin-top: 5vh;
  max-height: 800px;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.1);
  overflow: auto;
  /* border: 1px solid rgb(187, 187, 187); */
  box-shadow: 3px 2px 20px rgba(78, 10, 109, 0.1);
}

.agentDescription {
  color: white;
  width: 500px;
}

.agentPicture {
  max-height: 500px;
}

.agentImageContainer {
  max-height: 800px;
  float: left;
}

/* MAPS PAGE ------------------------ */

.mapList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mapCards {
  margin: auto;
  max-height: 400px;
  max-width: 800px;
  margin: 15px;
}

.mapName {
  font-family: "Unica One", cursive;
  font-size: 35px;
  color: white;
}

.mapImage {
  max-width: 500px;
  max-height: 300px;
}

h1 {
  font-family: "Unica One", cursive;
  color: white;
  font-size: 50px;
  font-weight: 100;
}

/* WEAPONS PAGE ------------------------ */

.weaponList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.weaponCards {
  margin: auto;
  min-height: 200px;
  min-width: 220px;
  padding: 5px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.1);
  overflow: auto;
  border: 1px solid rgb(187, 187, 187);
  box-shadow: 3px 2px 20px rgba(78, 10, 109, 0.1);
  transition: all 0.3s ease-in-out;
}

.weaponCards:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.weaponName {
  font-family: "Unica One", cursive;
  font-size: 35px;
  color: white;
}

.weaponImage {
  max-width: 200px;
  max-height: 100px;
}

h1 {
  font-family: "Unica One", cursive;
  color: white;
  font-size: 50px;
  font-weight: 100;
}

/* WEAPON SKINS PAGE ------------------------ */

.skinsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.skinCards {
  margin: auto;
  min-height: 200px;
  width: 320px;
  padding: 5px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.1);
  overflow: auto;
  border: 1px solid rgb(187, 187, 187);
  box-shadow: 3px 2px 20px rgba(78, 10, 109, 0.1);
  transition: all 0.3s ease-in-out;
}

.skinCards:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.skinNames {
  font-family: "Unica One", cursive;
  font-size: 25px;
  color: white;
}

.skinImages {
  max-width: 300px;
  max-height: 100px;
}

h1 {
  font-family: "Unica One", cursive;
  color: white;
  font-size: 50px;
  font-weight: 100;
}

/* PLAYER CARDS PAGE ------------------------ */

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.playerCards {
  margin: auto;
  height: 650px;
  max-width: 250px;
  margin: 10px;
  overflow: auto;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.playerCards:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.cardName {
  font-family: "Unica One", cursive;
  font-size: 18px;
  color: white;
}

.cardImage {
  max-height: 500px;
}

h1 {
  font-family: "Unica One", cursive;
  word-wrap: break-word;
  color: white;
  font-size: 50px;
  font-weight: 100;
}
